{% extends "base.html" %}

{% block page_content %}

<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">
		<div class="container" data-aos="zoom-out" data-aos-delay="100">
			<!--h1>
				New challenge<span>?</spa>
      			</h1-->
	    		<blockquote class="blockquote mb-0">
	      			<h1 style="text-indent: 2em;"><span>For the things we have to learn before we can do them, we learn by doing them.</spa></h1>
	      			<br><h2 style="font-weight:bold;"><footer class="blockquote-footer">
	      				Aristotle, 
	      				<cite title="Source Title">
	      					The Nicomachean Ethics
	      				</cite>
	      			</footer></h2>
	    		</blockquote>
	    		
      		</div>
  	</section><!-- End Hero -->
  	
  
{% endblock %}
